.dashboard__head {
  align-content: center;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  @media (min-width: $desktop-breakpoint) {
   
  }
}

.dashboard__grid-item {
  margin-top: 0;
  justify-self: end;
  .button {
    height: 50px;
    padding-top: 15px;
    text-align: center;
  }
}