.input-group.filter__container {
    margin: 0 auto 0 0;

    .text-input {
      background: black;
      border: 1px solid $off-white;
      color: $off-white;
    }
    .text-input::placeholder {
      color: $off-white;
    }
}
