.section__header {
  background: $off-white;
  border: 1px solid darken($off-white, 7%);
  color: $grey;
  display: flex;
  justify-content: space-between;
  margin-bottom: $m-size;
  padding: $s-size $m-size;
}

.section__body {
  display: grid;
  grid-template-rows: 1fr;
  grid-gap: 1rem;
  margin-bottom: $m-size;
  @media (min-width: $desktop-breakpoint) {
    margin-bottom: $l-size;
  }
}

.section-item {
  animation: fadein 1s ease-out normal backwards;
  border: 1px solid darken($off-white, 7%);
  color:  $off-white;
  display: flex;
  flex-direction: column;
  padding: $s-size;
  text-decoration: none;
  transition: background .3s ease, color 1.2s ease, animation .250ms;
   
  &:hover {
    background: $off-white;
    color: $dark-grey;
  }
  @media (min-width: $desktop-breakpoint) {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: $m-size;
  }
}

.section-item__message {
  align-items: center;
  color: $grey;
  justify-content: center;
  padding: $m-size;
  &:hover {
    background: none;
  }
}

.section-item__title {
  margin: 0;
  word-break: break-all;
}

.section-item__sub-title {
  color: $grey;
  font-size: $font-size-small;
}

.section-item__features {
  display: block;
  font-weight: 500;
}

.section-item__feature {
  display: inline-block;
  margin-right: 1.2rem;
}

.section-item__link {
  margin: $s-size 0 0 0;
  @media (min-width: $desktop-breakpoint) {
    margin: 0;
    padding-left: $s-size;
  }
}

// animation 

@keyframes fadein {
  0% {
    transform: scale(0);
  }
  70% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}