

.showcase__container {
  align-items: stretch; 
  display: grid;
  grid-gap: 2px;
  @media (min-width: 780px) {
    grid-template-columns: 1fr 1fr; 
  }
}

.showcase__item{
  background: rgba(38, 38, 40, 0.8);
  cursor: pointer;	
  height: 300px;
  overflow: hidden;
  padding-top: 13rem;
  position: relative;
  text-align: center; 
}

.showcase__item-inner {
  color: $off-white;
  height: 100%;	
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}


.showcase__item-inner, .showcase__item-inner a {
  height: 100%;
  left: 0;
  position: absolute;
  text-decoration: none;
  top: 0;
  width: 100%;
}

.showcase__item-inner a {
  color: #fff;
  top: 120px; 
}

.effect-bubba .showcase__item-inner::before,
.effect-bubba .showcase__item-inner::after {
  bottom: 30px;
  content: '';
	left: 30px;
  opacity: 0;
  position: absolute;
  right: 30px;
  top: 30px;
	transition: opacity 0.35s, transform 0.35s;
}

.effect-bubba .showcase__item-inner::before {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	transform: scale(0,1);
}

.effect-bubba .showcase__item-inner::after {
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	transform: scale(1,0);
}

.showcase__item.effect-bubba h2 {
  font-size: 18px;
  font-weight: 500;
  padding-top: 35%;
  text-transform: uppercase;
  transition: transform 0.35s;
  transform: translate3d(0,-20px,0);

  @media (min-width: 600px) {
    padding-top: 20%;
  }

  @media (min-width: 780px) {
    padding-top: 30%;
  }
  }

.effect-bubba p {
  color: #fff;
  font-size: 13px;
  font-weight: 500; 
  padding: 5px 2.5em;
  opacity: 0;
  transition: opacity 0.35s, transform 0.35s;
  transform: translate3d(0, 20px,0);

  @media (min-width: 780px) {
    padding: 20px 2.5em;
  }
}

.effect-bubba:hover .showcase__item-inner::before,
.effect-bubba:hover .showcase__item-inner::after {
	opacity: 1;
	transform: scale(1);
}

.effect-bubba:hover h2,
.effect-bubba:hover p {
	opacity: 1;
  transform: translate3d(0,0,0);
}



